*{
	margin: 0;
	padding: 0;
}
#content{
	width: 100vw;
	height: 100vh;
	background: white;
}
.Stitle{
	width: 100vw;
	height: 9vh;
	line-height: 9vh;
	font-size: 1.5em;
	/*background: white;*/
	text-align: center;
	box-sizing: border-box;
	border-bottom:solid 1px #A9A7A8;
}
.Stitle a{
	position: absolute;
	left: 4%;
}
.Sdefault{
	width: 100vw;
	height: 91vh;
	background: #EDECF1;
}
.Slist{
	width: 100vw;
	height: 10vw;
	background: white;
}
.Slist ul{
	height: 5vh;
	display: flex;
	text-align: center;
	padding-top: 8px;
}
.Slist li{
	flex: 1;
	width: 20px;
	height: 20px;
	line-height: 20px;
	list-style: none;
}
.Slist span{
	display: inline-block;
	height: 25px;
	/*border-bottom: solid 2px red;*/
}
/*.Slist li{
	list-style: none;
	height: 10vw;
	line-height: 10vw;
	box-sizing: border-box;
	border-bottom: 2px solid #AAAAAA;
	margin-left: 17vw;
	float: left;
}*/
.over{
	width: 100vw;
	height: 85vh;
	overflow: hidden;
	overflow-y: scroll;
}
.over::-webkit-scrollbar{
	display: none;
}
.Scon{
	width: 102vw;
	height: 156vh;
	/*background: fuchsia;*/
	position: relative;
	left: 0;
}
.Scon div{
	width: 49vw;
	height: 67vw;
	float: left;
	text-align: center;
	background: white;
	margin-top: 2vw;
	margin-right: 2vw;
}
.Scon div:first-child{
	/*margin-left: 0vw;*/
}
.Scon img{
	width: 49vw;
	height: 50vw;
}
.Scon p{
	font-size: 0.95em;
	margin-bottom: 2vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.Scon a{
	text-decoration: none;
	color: #000000;
}

